<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqScIcLpHJh617Rv7W5TNLUwG7YDqm0yc</string>
	<key>GCM_SENDER_ID</key>
	<string>87620388254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NaiCode.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b2595</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b2595.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87620388254:ios:cd283b3d81e9483c4d028f</string>
</dict>
</plist>